* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}


/*HEADER*/

.contenedorHeader{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 92px;
}

header{
    background-color: rgb(121, 113, 200);
    height: 50px;
    font-family:Arial,sans-serif;
    font-size: 22px;
}

.extra{
    display: flex;
    grid-column: 11/13;
    grid-row: 1/2;
    justify-content: space-around;
    align-items: center;
}

.logo2 {
    font-size: 30px;
    float: left;
    position : relative;
    top : 6px;
}

.menu{
    display: inline;
    position : relative;
    font-size: 25px;
}

.titulo{
    display: flex;
    text-align: center;
    font-size: 35px;
    grid-column: 6/8;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
}

.titulo img{
    height: 35px;
    width: 35px;
}

.logo{
    font-size: 30px;
    float: right;
}

/*MAIN*/

.contenedorMain{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: linear-gradient(to bottom, rgb(121, 113, 200), white);
}

.cuadro_de_buscador{
    text-align: center;
    grid-column: 11/13;
}

.accesos{ 
    display: inline-flex;
    background-color: rgb(162, 162, 255);
    border-radius: 10px;
    border-color: rgb(35, 0, 100);
    border-style: solid;
    padding: 15px;
    border-width: 1px;
    height: 15px;
    justify-content: space-around;
    background-image: linear-gradient(to right,#fff, rgb(184, 184, 245));
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.accesosDirect{
    grid-column: 5/9;
    grid-row: 1/2;
}

.center{
    text-align: center;
    grid-row: 4/8;
    grid-column: 5/9;
}

.contenedorMenu{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: left;
    align-items: center;
  }

.botones{
    background-color: rgb(162, 162, 255);
    display: inline-block;
    border-radius: 10px;
    border-color: rgb(35, 0, 100);
    border-style: solid;
    padding: 15px;
    border-width: 1px;
}

.buscador{
    width: 300px;
    text-align: center;
}
h1{font-family: Arial,sans-serif;
    font-size: 24px;}
h3{
    font-family: Arial,sans-serif;
    font-size: 22px;}
p{
  font-family: Arial,sans-serif;
  font-size: 18px;}


a:link{
    color: red;
    text-decoration: none;
}
a:hover{
    color: red;
}

.inversiones{
    background-color: rgb(162, 162, 255);
    display: inline-block;
    border-radius: 10px;
    border-color: rgb(35, 0, 100);
    border-style: solid;
    padding: 15px;
    border-width: 1px;
    height: 160px;
    position : relative ; 
    top : -68px ;
}

/*FOOTER*/

.contenedorFooter{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 50px;
    bottom: 0;
    position: fixed;
    justify-content: center;
    background: #7971c8;
    align-items: center;
    width: 100%;
}

.tyc{
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    display: flex;
}

.redesSociales{
    grid-column: 10/13;
}



















  